# use Docker-based container (instead of OpenVZ)
sudo: false

cache:
  directories:
    - $HOME/.m2/repository

language: java

jdk:
  - oraclejdk8

after_success:
    - bash <(curl -s https://codecov.io/bash)
