<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Blah</description>
    <display-name>Some Wikipedia related tools</display-name>
    <servlet>
        <servlet-name>Cross-wiki linksearch</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/xwikilinksearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Mass linksearch</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/masslinksearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Image contribution surveyor</description>
        <servlet-name>ImageCCI</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/imagecci.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SpamArchiveSearch</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/spamarchivesearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PrefixContribs</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/prefixcontribs.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserWatchlist</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/userwatchlist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Article-editor intersection</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/editorintersection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Contribution surveyor</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/contributionsurveyor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>External link checker</servlet-name>
        <jsp-file>/WEB-INF/classes/org/wikipedia/servlets/extlinkchecker.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Cross-wiki linksearch</servlet-name>
        <url-pattern>/linksearch.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mass linksearch</servlet-name>
        <url-pattern>/masslinksearch.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCCI</servlet-name>
        <url-pattern>/imagecci.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpamArchiveSearch</servlet-name>
        <url-pattern>/spamarchivesearch.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrefixContribs</servlet-name>
        <url-pattern>/prefixcontribs.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserWatchlist</servlet-name>
        <url-pattern>/userwatchlist.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article-editor intersection</servlet-name>
        <url-pattern>/editorintersection.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contribution surveyor</servlet-name>
        <url-pattern>/contributionsurveyor.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>External link checker</servlet-name>
        <url-pattern>/extlinkchecker.jsp</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
